@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Poppins:wght@800&family=Roboto:wght@500&family=Great+Vibes&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button:focus {outline:0;}

html{
    
    overflow-x: initial !important;
}

 /* ----------------home----------------- */
.slideshow{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    /* opacity: .7; */
    background-color: #000000;
}

.menu-icon{
    position: absolute;
    color: white;
    font-size: 60px;
    
    left: 42px;
    top: 24px;
    cursor: pointer;
    z-index: 1;
}

.menu-container{
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0,0,0,.9);
    overflow: hidden;
    transition: 1s ease-in-out;
}

.menu-content{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.menu-content a{
    padding: 16px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
    font-family: "Roboto",sans-serif;
    transition: .2s ease-in-out;
}
.menu-content a:hover{
    color: silver;
}

.menu-container .closebtn{
    position: absolute;
    top: 24px;
    right: 48px;
    font-size: 80px;
    color: white;
    z-index: 1;
    cursor: pointer;
}

.slideshow-item{
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: cycleImages 31s infinite;
}

.slideshow-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 31s infinite;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img{
    animation-delay: 0s;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img{
    animation-delay: 10s;
}
.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img{
    animation-delay: 20s;
}

.slideshow-item-text{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.4);
    color: white;
    padding: 5rem 1rem;
    text-align: center;
    font-size: 72px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slideshow-item-text h5{
    font-size: 7rem;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 3px;
    margin-bottom: 2.5rem;
}

.slideshow-item-text h6{
    font-size: 1.6rem;
    font-family: "Montserrat",sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}

.slideshow-item-text h6 span{
    font-size: 1.4rem;
}

@keyframes cycleImages{
    25%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
}

@keyframes zoom{
    100%{
        transform: scale(1.3);
    }
}

/* @media screen and (max-width:1000px){
    .slideshow-item-text{
        max-width: 70%;
        
    }
} */

@media screen and (max-width:767px){
    
    .menu-icon{
        font-size: 30px;
        left: 22px;
        top: 14px;
        
    }
    .menu-container .closebtn{
        top: 14px;
        right: 28px;
        font-size: 40px;
    }

    .menu-content a{
        font-size: 18px;
    }

    .slideshow-item-text h5{
        font-size: 3rem;
    }

    .slideshow-item-text h6{
        font-size: 1.2rem;
    }

    .slideshow-item-text h6 span{ 
        font-size: 1rem;
    }
}

/*--------------------- story ------------------------*/
.story_section{
    background-color: white;
    min-height: 100vh;
}

#story {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .story-text {
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 50%;
    margin: 5%;
    margin-bottom: 3%;
  }
  .story-text h1 {
    margin-bottom: 5%;
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: 4px;
    font-family: "Montserrat",sans-serif;
  }
  .story-text h1 span {
    font-size: 4rem;
    font-weight: 400;
    font-family: 'Great Vibes', cursive;
  }
  .story-text p {
    margin: 1.5%;
    font-weight: 400;
    font-size: 1.8rem;
    font-family: 'Great Vibes', cursive;
  }
  .sub-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  
  .round-img .img-1 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 500px;
    height: 500px;
  }
  .round-img .img-2 {
    position: relative;
    z-index: 1;
  }
  .left-text {
    text-align: right;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10%;
    align-items: right;
    margin-left: 10%;
  }
  .right-text {
    text-align: left;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10%;
    align-items: left;
    margin-right: 5%;
  }
  .right-text h1,
  .left-text h1 {
    margin-bottom: 5%;
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    font-weight:700 ;
  }

  .right-text p,
  .left-text p {
    margin-bottom: 5%;
    font-family: "Roboto",sans-serif;
    font-size: 1rem;
    
  }
  @media screen and (max-width: 1081px) {
    #story {
      background-color: white;
    }
    .left-text {
      text-align: right;
      max-width: 80%;
      margin-left: 3%;
    }
  }
  
  @media screen and (max-width: 870px) {
    #story {
      background-color: white;
      /* width: 100%; */
    }
    .sub-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    .story-text {
      display: flex;
      text-align: center;
      flex-direction: column;
      max-width: 100%;
      margin: 5%;
      margin-bottom: 3%;
    }
    .story-text h1 {
        margin-bottom: 5%;
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 2px;
    }
    .story-text h1 span{
        font-size: 3rem;
    }
    .story-text p {
      margin: 0%;
      font-weight: 100;
      font-size: 1.2rem;
    }
    .left-text {
      text-align: right;
      max-width: 70%;
      display: flex;
      align-items: right;
      font-weight: 200;
      margin-right: 0%;
      padding: 7px;
    }
    .right-text {
      text-align: left;
      max-width: 70%;
      display: flex;
      align-items: left;
      font-weight: 200;
      margin-left: 0%;
      margin-top: 2%;
      padding: 7px;
    }
    .right-text h1,
    .left-text h1 {
      margin-bottom: 5%;
      font-size: 2.5rem;
    }
    .right-text p,
    .left-text p {
      margin-bottom: 5%;
      font-size: .8rem;
    }
    .round-img .img-1 {
      position: absolute;
      border-radius: 50%;
      width: 350px;
      height: 350px;
    }
    .round-img .img-2 {
      width: 350px;
      height: 350px;
    }
  }

  /* ------ceremony-timer--------- */
  
   #ceremony{
    margin-top: 0%;
    height: 100vh;
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
      url("../image/3.countdown/1.jpg");
    background-attachment: fixed;
    background-size: cover;
    /* position: absolute;
      top: 190%; */
  }
  .ceremony-text {
    /* width: 100%; */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  .ceremony-text h1 {
    font-size: 6rem;
    letter-spacing: 2px;
    margin: 20px;
    font-family: 'Great Vibes', cursive;
  }
  .ceremony-text p {
    font-size: 1.5rem;
    font-family: "Montserrat",sans-serif;
    letter-spacing: 8px;
    line-height: 3.5rem;
  }
  .count {
    margin: 40px 0;
  }
  .countdown {
    font-family: "Roboto",sans-serif;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255, 0.3);
    margin: 0 30px;
    font-size: 1rem;
  }
  .countdown span {
    font-family: "Roboto",sans-serif;
    display: block;
    font-size: 26px;
    margin: 14px;
  }
  @media screen and (max-width: 767px) {
    #ceremony {
      margin-top: 10%;
      height: 120vh;
      width: 100%;
    }
    .ceremony-text h1 {
      font-size: 3rem;
      letter-spacing: 2px;
      margin: 20px;
    }
    .ceremony-text p{
        font-size: .8rem;
        line-height: 2rem;
    }
    .count {
      margin: 40px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .countdown {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      background-color: rgb(255, 255, 255, 0.3);
      margin: 5px 30px;
      font-size: 1rem;
    }
  }

  /* ----------------accomodation----------- */
#accomodation {
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../image/4.accommodation/2.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
  }
  .left-acc {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10%;
  }
  .left-acc h1 {
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 6rem;
    margin: 5%;
    text-align: center;
    font-family: 'Great Vibes', cursive;
  }
  .left-acc h2 {
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 2rem;
    margin: 7%;
    font-family: "Montserrat",sans-serif;
  }
  .left-acc p {
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    font-size: 1.2rem;
    text-align: center;
  }
  .right-acc {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    margin-left: 5%;
  }
  .right-acc img {
    width: 450px;
    height: 450px;
    border: 15px white solid;
    border-bottom: 70px white solid;
    transform: rotate(9deg);
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.9);
    box-shadow: 0 15px 10px #777;
  }
  
  @media screen and (max-width: 900px) {
    #accomodation {
      flex-direction: column;
      /* justify-content: center; */
    }
    .left-acc {
        width: 80%;
    }
    .left-acc h1 {
      letter-spacing: 1px;
      font-weight: 700;
      font-size: 4rem;
      margin-top:40px;
      text-align: center;
    }
    .left-acc h2 {
      letter-spacing: 1.2px;
      font-size: 1.5rem;
      margin: 4%;
    }
    .left-acc p {
      font-size: .8rem;
    }
    .right-acc {
      width: 80%;
      margin: auto;
      
    }
    .right-acc img {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 300px;
      height: 300px;
      border-bottom: 40px white solid;
    }
  }